:root {
    --black: #2A2B2E;
    --white: #FFF;
    --blue1: #0077b6;
    --blue2: #48cae4;
    --red: #FF0000;
}

body {
    min-width: 900px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}

a {
    font-size: 12px;
    color: var(--blue2);
    text-decoration: none;
}

a:hover {
    color: var(--white);
}

.container {
    width: 350px;
    height: 360px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: var(--black);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-box {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.title-box h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="username"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 6px;
    width: 200px;
    border: 2px solid var(--blue2);
    border-radius: 24px;
    background-color: transparent;
    color: var(--white);
    font-size: 14px;
    outline: none;
    text-align: center;
}

.remember-box {
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label[for="remember-register"] {
    margin-left: 5px;
    color: var(--white);
    font-size: 12px;
}

input[type="submit"] {
    padding: 7px;
    width: 125px;
    border: 2px solid var(--black);
    border-radius: 24px;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--blue1), var(--blue2));
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 2px solid var(--blue2);
    background: transparent;
    box-shadow: 0 0 1px var(--blue2);
}

.error-text {
    margin-bottom: 5px;
    width: 200px;
    color: var(--red);
    font-size: 12px;
    text-align: center;
}

.login-box {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}